.root-pane {
    -fx-background-color: white;
    -fx-background-image: url("corner.png"), url("black-flag.png");
    -fx-background-position: top left, bottom right;
    -fx-background-repeat: no-repeat;
    -fx-spacing: 10px;
    -fx-font-family: serif;
}
.sales-pane {
    -fx-padding: 70px 50px 50px 50px;    
}
.list-view,
.list-view:focused {
    -fx-background-color: rgba(255, 255, 255, 0.90);
}
.list-view .scroll-bar, 
.list-view .scroll-bar .track {
    -fx-background-color: null;
}
.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {    
    -fx-background-color: null;
}
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {    
    -fx-padding: 0em 0.5em 0em 0.5em;
}
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {    
    -fx-padding: 0.5em 0em 0.5em 0em;
}
.list-view .scroll-bar .increment-button .increment-arrow,
.list-view .scroll-bar .decrement-button .decrement-arrow {
    -fx-background-color: null;
    -fx-padding: 0em;
}
.label,
.text {
    -fx-font-size: 1.4em;        
}
.main-text {
    -fx-font-size: 3.0em;        
}
.text-field {
    -fx-base: rgb(238, 238, 238);
    -fx-background-color: black, -fx-base;
    -fx-background-insets: 0px, 1px;
    -fx-background-radius: 0px;
}
.key-field {
    -fx-padding: 10px 2px 10px 2px;
    -fx-alignment: center;
    -fx-font-family: "Monospace";
}
.key-field:error {
    -fx-base: derive(tomato, 75%);
}
.hbox,
.vbox {
    -fx-spacing: 10px;
}
.language-box {
    -fx-padding: 10px 10px 0px 0px;    
    -fx-spacing: 10px;
    -fx-alignment: CENTER;
}
.options-box {
    -fx-spacing: 10px;
    -fx-alignment: CENTER;
}
.language-button {
    -fx-padding: 0px;
    -fx-background-color: null;
    -fx-content-display: text-only;
    -fx-text-fill: gray;
}
.language-button:selected {
    -fx-text-fill: black;
}
.cell {
    -fx-background-color: null;
    -fx-border-color: transparent;
    -fx-border-width: 0px 0px 0px 5px;
    -fx-font-size: 1.4em;        
    -fx-padding: 0px;
}
.cell:hover {
    -fx-border-color: lightgray;
}
.cell:selected {
    -fx-background-color: null;
    -fx-border-color: -fx-focus-color;
}
.sale-info,
.item-info {
    -fx-padding: 3px 10px 3px 10px;
    -fx-hgap: 10px;
    -fx-vgap: 5px;
}
.item-info {
    -fx-font-size: 1.0em;
    -fx-effect: dropshadow(one-pass-box, black, 2, 0, 1, 1);
}
.sale-info > .item-name-label {
    -fx-font-size: 1.6em;
}
.sale-quantity-label {
    -fx-fill: white;
    -fx-font-size: 1.1em;
    -fx-effect: dropshadow(one-pass-box, black, 2, 0, 1, 1);
}
.item-name-label {
    -fx-font-weight: bold;    
}
.item-name-label:junk {
    -fx-fill: gray;
}
.item-name-label:basic {
    -fx-fill: black;
}
.item-info .item-name-label:basic {
    -fx-fill: white;
}
.item-name-label:fine {
    -fx-fill: derive(royalblue, 20%);
}
.item-name-label:masterwork {
    -fx-fill: derive(green, 30%);
}
.item-name-label:rare {
    -fx-fill: derive(yellow, -20%);
}
.item-name-label:exotic {
    -fx-fill: orange;
}
.item-name-label:ascended {
    -fx-fill: violet;
}
.item-name-label:legendary {
    -fx-fill: blueviolet;
}
.item-buff-label {
    -fx-fill: derive(royalblue, 20%);
}
.item-buff-label:reminder {
    -fx-fill: gray;
}
.item-stats-label,
.item-description-label,
.item-level-label {
    -fx-fill: white;
}
.item-description-label:flavor {
    -fx-fill: skyblue;
}
.date-label {
    -fx-fill: gray;
    -fx-font-size: 1.0em;
}
.coin-label {    
    -fx-fill: -coin-color;
    -fx-font-weight: bolder;
}
.coin {
    -fx-background-color: derive(-coin-color, -20%), derive(-coin-color, 50%), -coin-color;
    -fx-background-radius: 7, 6, 5;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 6px;
}
.coin-label:gold,
.coin:gold {    
    -coin-color: derive(gold, -20%);
}
.coin-label:silver,
.coin:silver{    
    -coin-color: silver;
}
.coin-label:copper,
.coin:copper{    
    -coin-color: chocolate;
}
.icon-box {
    -fx-background-color: black, gray;
    -fx-background-insets: 0px, 1px;
}
.icon-box .icon {
    -fx-fit-width: 32;
    -fx-fit-height: 32;    
}